<div cdkDropListGroup>
  <div class="team-container">
    <h2>TeamA</h2>
    <div
      cdkDropList
      #teamAList="cdkDropList"
      [cdkDropListData]="teamA"
      class="team-list">
      <div *ngFor="let player of teamA" >
        <mat-card class="user-card" cdkDrag>{{player.id}}, {{player.name}}</mat-card>
      </div>
    </div>
  </div>

  <div class="team-container">
    <h2>TeamB</h2>
    <div
      cdkDropList
      #teamBList="cdkDropList"
      [cdkDropListData]="teamB"
      class="team-list">
      <div *ngFor="let player of teamB" >
        <mat-card class="user-card" cdkDrag>{{player.id}}, {{player.name}}</mat-card>
      </div>
    </div>
  </div>
</div>
